In [2]:
import pandas as pd

Leitura do arquivo em csv e carregamento desses dados em um DataFrame usando o ponto e vírgula como separador.

In [3]:
df_dados = pd.read_csv('dataframe-bsi-2009-2022.csv', sep=';')

Exclusão dos dados ausentes na coluna media_final.

In [4]:
df_dados.dropna(subset=["media_final"], inplace=True)
df_dados

Index(['discente', 'unidade', 'media_final', 'descricao', 'ano',
       'id_componente', 'nome', 'sexo', 'ano_nascimento', 'ano_ingresso',
       'status'],
      dtype='object')

Renomeando dados da coluna descrição.

In [5]:
itens_unicos = df_dados['ano'].unique()
print(itens_unicos)

[20211 20222 20221 20205 20181 20212 20202 20192 20182 20191 20206 20111
 20112 20172 20162 20161 20171 20122 20121 20131 20101 20102 20092 20091
 20151 20152 20132 20142 20141]

In [6]:
df_dados = df_dados.replace({'descricao':
               {'APROVADO POR NOTA':'APROVADO',
                'REPROVADO POR FALTAS':'REPROVADO',
                'REPROVADO POR MÉDIA E POR FALTAS':'REPROVADO',
                'REPROVADO POR NOTA E FALTA':'REPROVADO',
                'REPROVADO POR NOTA':'REPROVADO',

                }}, regex=True)

Selecionando as colunas.

In [7]:
df_dados_reduzido = df_dados.filter(items=['discente', 'unidade', 'media_final', 'descricao', 'ano', 'id_componente', 'nome'])
df_dados_reduzido

,discente,unidade,media_final,descricao,ano,id_componente,nome
0,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20211,70811,GESTÃO DA INOVAÇÃO
1,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20222,62802,PESQUISA OPERACIONAL
2,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20221,70811,GESTÃO DA INOVAÇÃO
3,001cea3c82e2010681f2cdeab21e5ecf,1.0,"1,0",EXCLUIDA,20205,71950,MARKETING DIGITAL
4,001cea3c82e2010681f2cdeab21e5ecf,1.0,"6,2",APROVADO,20181,62768,PROGRAMAÇÃO PARA DISPOSITIVOS MÓVEIS
...,...,...,...,...,...,...,...
45849,ffe447b2fe2058d45d5f756349a26f45,2.0,"0,0",REPROVADO,20121,2037001,INTRODUÇÃO À INFORMÁTICA
45850,ffe447b2fe2058d45d5f756349a26f45,2.0,"0,0",REPROVADO,20121,2037004,TEORIA GERAL DA ADMINISTRAÇÃO
45851,ffe447b2fe2058d45d5f756349a26f45,3.0,"0,0",REPROVADO,20121,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO
45852,ffe447b2fe2058d45d5f756349a26f45,3.0,"0,0",REPROVADO,20121,2037001,INTRODUÇÃO À INFORMÁTICA
45853,ffe447b2fe2058d45d5f756349a26f45,3.0,"0,0",REPROVADO,20121,2037004,TEORIA GERAL DA ADMINISTRAÇÃO

### Filtros

Filtrando os dados da unidade 1.

In [8]:
filtro  = df_dados_reduzido['unidade'] == 1
df_dados_filtrado = df_dados_reduzido[filtro]
df_dados_filtrado

,discente,unidade,media_final,descricao,ano,id_componente,nome
0,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20211,70811,GESTÃO DA INOVAÇÃO
1,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20222,62802,PESQUISA OPERACIONAL
2,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20221,70811,GESTÃO DA INOVAÇÃO
3,001cea3c82e2010681f2cdeab21e5ecf,1.0,"1,0",EXCLUIDA,20205,71950,MARKETING DIGITAL
4,001cea3c82e2010681f2cdeab21e5ecf,1.0,"6,2",APROVADO,20181,62768,PROGRAMAÇÃO PARA DISPOSITIVOS MÓVEIS
...,...,...,...,...,...,...,...
45735,ff56f2c5048dae0797fd3e851572b80c,1.0,"9,5",APROVADO,20192,42240,LÍNGUA BRASILEIRA DE SINAIS - LIBRAS
45736,ff56f2c5048dae0797fd3e851572b80c,1.0,"9,5",APROVADO,20212,62799,TÓPICOS ESPECIAIS EM INFORMÁTICA NA EDUCAÇÃO
45845,ffe447b2fe2058d45d5f756349a26f45,1.0,"0,0",REPROVADO,20121,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO
45846,ffe447b2fe2058d45d5f756349a26f45,1.0,"0,0",REPROVADO,20121,2037001,INTRODUÇÃO À INFORMÁTICA
45847,ffe447b2fe2058d45d5f756349a26f45,1.0,"0,0",REPROVADO,20121,2037004,TEORIA GERAL DA ADMINISTRAÇÃO

Lista dos componentes curriculares obrigatórios.

In [9]:
lista_obrigatórias = [
                'ALGORITMOS E LÓGICA DE PROGRAMAÇÃO',
                'INTRODUÇÃO À INFORMÁTICA',
                'FUNDAMENTOS DE MATEMÁTICA',
                'LÓGICA',
                'TEORIA GERAL DA ADMINISTRAÇÃO',
                'PROGRAMAÇÃO',
                'CÁLCULO DIFERENCIAL E INTEGRAL',
                'TEORIA GERAL DOS SISTEMAS',
                'PROGRAMAÇÃO ORIENTADA A OBJETOS I',
                'ESTRUTURA DE DADOS',
                'ÁLGEBRA LINEAR',
                'ORGANIZAÇÃO, SISTEMAS E MÉTODOS',
                'FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO',
                'PROGRAMAÇÃO WEB',
                'ARQUITETURA DE COMPUTADORES',
                'PROBABILIDADE E ESTATÍSTICA',
                'BANCO DE DADOS',
                'ENGENHARIA DE SOFTWARE I',
                'PROGRAMAÇÃO ORIENTADA A OBJETOS II',
                'SISTEMAS OPERACIONAIS',
                'PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS',
                'ENGENHARIA DE SOFTWARE II',
                'REDES DE COMPUTADORES',
                'CONTABILIDADE E CUSTOS',
                'EMPREENDEDORISMO EM INFORMÁTICA',
                'GESTÃO DE PROJETO DE SOFTWARE',
                'PROGRAMAÇÃO VISUAL',
                'MATEMÁTICA FINANCEIRA',
                'SISTEMAS DE APOIO À DECISÃO',
                'ÉTICA',
                ]
condição_nome = f"nome in {lista_obrigatórias}"
df_dados_filtrado = df_dados_filtrado.query(condição_nome)

Agrupando os dados e deixando ordenado pela coluna discente.

In [10]:
agregado_obrigatórias = df_dados_filtrado .groupby(["discente","nome","ano","descricao"]).size()
df_dados_filtrado = df_dados_filtrado.sort_values(by='discente')
df_dados_filtrado

,discente,unidade,media_final,descricao,ano,id_componente,nome
18,005c14d7c07bf7980b60c703f99c5ee7,1.0,"0,0",REPROVADO,20211,62710,ÁLGEBRA LINEAR
59,005c14d7c07bf7980b60c703f99c5ee7,1.0,"9,2",APROVADO,20202,62714,ÉTICA
57,005c14d7c07bf7980b60c703f99c5ee7,1.0,"9,0",APROVADO,20206,62711,ARQUITETURA DE COMPUTADORES
56,005c14d7c07bf7980b60c703f99c5ee7,1.0,"9,0",APROVADO,20206,62709,FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO
55,005c14d7c07bf7980b60c703f99c5ee7,1.0,"8,7",APROVADO,20206,62752,PROGRAMAÇÃO WEB
...,...,...,...,...,...,...,...
45701,ff56f2c5048dae0797fd3e851572b80c,1.0,"5,3",REPROVADO,20161,2037002,LÓGICA
45692,ff56f2c5048dae0797fd3e851572b80c,1.0,"2,7",REPROVADO,20151,2037001,INTRODUÇÃO À INFORMÁTICA
45846,ffe447b2fe2058d45d5f756349a26f45,1.0,"0,0",REPROVADO,20121,2037001,INTRODUÇÃO À INFORMÁTICA
45845,ffe447b2fe2058d45d5f756349a26f45,1.0,"0,0",REPROVADO,20121,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO
45847,ffe447b2fe2058d45d5f756349a26f45,1.0,"0,0",REPROVADO,20121,2037004,TEORIA GERAL DA ADMINISTRAÇÃO

In [11]:
df_dados_filtrado.to_csv('test10.csv', index=False, sep=';')

In [12]:
agregado_obrigatórias = df_dados_filtrado .groupby(["nome","descricao"]).size()
agregado_obrigatórias

nome                                descricao
ALGORITMOS E LÓGICA DE PROGRAMAÇÃO  APROVADO     469
                                    CANCELADO     17
                                    EXCLUIDA       1
                                    REPROVADO    228
                                    TRANCADO       1
                                                ...
ÁLGEBRA LINEAR                      REPROVADO    108
                                    TRANCADO       1
ÉTICA                               APROVADO     208
                                    CANCELADO      1
                                    REPROVADO      9
Length: 112, dtype: int64

In [13]:
percentual_obrigatórias = pd.crosstab(df_dados_filtrado["ano"], df_dados_filtrado["media_final"], normalize="index")
percentual_obrigatórias

media_final,"0,0","0,1","0,2","0,3","0,4","0,5","0,6","0,7","0,8","0,9",...,"9,0","9,1","9,2","9,3","9,4","9,5","9,6","9,7","9,8","9,9"
ano,,,,,,,,,,,,,,,,,,,,,
20091,0.060976,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.004065,...,0.016260,0.016260,0.012195,0.012195,0.012195,0.028455,0.008130,0.004065,0.016260,0.004065
20092,0.015038,0.000000,0.007519,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.030075,0.030075,0.007519,0.007519,0.007519,0.000000,0.000000,0.000000,0.000000,0.000000
20101,0.009412,0.000000,0.002353,0.002353,0.000000,0.002353,0.004706,0.002353,0.011765,0.000000,...,0.018824,0.014118,0.021176,0.004706,0.002353,0.004706,0.004706,0.000000,0.007059,0.000000
20102,0.015674,0.000000,0.000000,0.000000,0.006270,0.000000,0.000000,0.006270,0.003135,0.000000,...,0.015674,0.012539,0.009404,0.009404,0.006270,0.003135,0.000000,0.000000,0.000000,0.003135
20111,0.052265,0.000000,0.003484,0.001742,0.001742,0.006969,0.003484,0.003484,0.005226,0.003484,...,0.006969,0.012195,0.003484,0.001742,0.005226,0.001742,0.000000,0.001742,0.000000,0.000000
20112,0.041420,0.002959,0.005917,0.008876,0.008876,0.014793,0.008876,0.005917,0.002959,0.017751,...,0.002959,0.014793,0.002959,0.000000,0.005917,0.005917,0.008876,0.002959,0.011834,0.000000
20121,0.083752,0.005025,0.003350,0.001675,0.003350,0.001675,0.003350,0.001675,0.010050,0.010050,...,0.008375,0.015075,0.010050,0.005025,0.005025,0.013400,0.010050,0.001675,0.028476,0.005025
20122,0.073314,0.000000,0.000000,0.002933,0.000000,0.000000,0.002933,0.005865,0.000000,0.000000,...,0.020528,0.014663,0.017595,0.014663,0.002933,0.020528,0.002933,0.002933,0.005865,0.000000
20131,0.067941,0.012739,0.002123,0.010616,0.010616,0.008493,0.004246,0.002123,0.004246,0.004246,...,0.008493,0.004246,0.010616,0.002123,0.000000,0.014862,0.010616,0.014862,0.004246,0.006369
20132,0.066879,0.003185,0.006369,0.006369,0.006369,0.003185,0.003185,0.000000,0.003185,0.015924,...,0.015924,0.022293,0.003185,0.003185,0.015924,0.000000,0.000000,0.012739,0.000000,0.019108
20141,0.112054,0.001698,0.006791,0.008489,0.003396,0.003396,0.001698,0.005093,0.006791,0.008489,...,0.005093,0.003396,0.005093,0.003396,0.003396,0.010187,0.001698,0.013582,0.005093,0.005093
20142,0.061972,0.016901,0.005634,0.008451,0.002817,0.002817,0.014085,0.014085,0.011268,0.005634,...,0.011268,0.000000,0.011268,0.008451,0.000000,0.002817,0.008451,0.008451,0.000000,0.002817
20151,0.076628,0.015326,0.015326,0.011494,0.011494,0.013410,0.003831,0.011494,0.013410,0.001916,...,0.003831,0.001916,0.011494,0.005747,0.003831,0.003831,0.001916,0.009579,0.001916,0.003831
20152,0.053763,0.000000,0.008065,0.005376,0.000000,0.008065,0.002688,0.010753,0.010753,0.008065,...,0.008065,0.002688,0.000000,0.002688,0.002688,0.002688,0.008065,0.013441,0.000000,0.000000
20161,0.064777,0.004049,0.006073,0.030364,0.014170,0.004049,0.004049,0.008097,0.016194,0.010121,...,0.008097,0.002024,0.006073,0.012146,0.000000,0.004049,0.006073,0.006073,0.008097,0.006073
20162,0.027304,0.006826,0.003413,0.006826,0.003413,0.003413,0.003413,0.013652,0.006826,0.010239,...,0.023891,0.000000,0.023891,0.000000,0.003413,0.047782,0.006826,0.013652,0.017065,0.000000
20171,0.123772,0.003929,0.003929,0.019646,0.007859,0.001965,0.007859,0.009823,0.003929,0.005894,...,0.021611,0.003929,0.009823,0.007859,0.005894,0.005894,0.001965,0.007859,0.001965,0.000000
20172,0.037736,0.011321,0.000000,0.000000,0.003774,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.067925,0.003774,0.015094,0.015094,0.011321,0.026415,0.007547,0.007547,0.026415,0.007547
20181,0.058577,0.004184,0.000000,0.002092,0.000000,0.002092,0.002092,0.002092,0.006276,0.000000,...,0.023013,0.004184,0.012552,0.025105,0.010460,0.012552,0.016736,0.023013,0.012552,0.010460
20182,0.050562,0.000000,0.000000,0.002809,0.005618,0.005618,0.002809,0.008427,0.002809,0.002809,...,0.016854,0.000000,0.025281,0.005618,0.000000,0.000000,0.000000,0.005618,0.002809,0.002809
20191,0.080827,0.000000,0.009398,0.011278,0.005639,0.001880,0.007519,0.005639,0.003759,0.003759,...,0.018797,0.005639,0.013158,0.007519,0.009398,0.013158,0.013158,0.005639,0.000000,0.000000
20192,0.026616,0.003802,0.015209,0.019011,0.000000,0.007605,0.000000,0.007605,0.007605,0.003802,...,0.000000,0.003802,0.007605,0.000000,0.000000,0.000000,0.007605,0.007605,0.000000,0.000000
20202,0.103321,0.000000,0.003690,0.007380,0.000000,0.007380,0.000000,0.007380,0.003690,0.000000,...,0.055351,0.018450,0.025830,0.025830,0.018450,0.003690,0.014760,0.033210,0.014760,0.000000
20205,0.142857,0.000000,0.004608,0.013825,0.000000,0.000000,0.000000,0.009217,0.004608,0.000000,...,0.023041,0.013825,0.036866,0.009217,0.009217,0.004608,0.004608,0.009217,0.009217,0.000000
20206,0.156410,0.007692,0.000000,0.002564,0.005128,0.005128,0.002564,0.007692,0.010256,0.002564,...,0.030769,0.015385,0.010256,0.028205,0.010256,0.035897,0.017949,0.043590,0.035897,0.028205
20211,0.089844,0.000000,0.000000,0.000000,0.001953,0.003906,0.000000,0.000000,0.000000,0.000000,...,0.019531,0.007812,0.015625,0.031250,0.019531,0.013672,0.007812,0.029297,0.019531,0.001953
20212,0.080386,0.000000,0.003215,0.003215,0.000000,0.000000,0.000000,0.016077,0.000000,0.000000,...,0.038585,0.019293,0.041801,0.022508,0.012862,0.019293,0.016077,0.048232,0.028939,0.012862
20221,0.063584,0.003854,0.000000,0.005780,0.001927,0.001927,0.001927,0.007707,0.001927,0.003854,...,0.017341,0.005780,0.009634,0.011561,0.009634,0.001927,0.001927,0.013487,0.001927,0.000000
20222,0.054321,0.000000,0.007407,0.007407,0.000000,0.002469,0.000000,0.019753,0.002469,0.000000,...,0.024691,0.012346,0.009877,0.014815,0.002469,0.002469,0.007407,0.004938,0.034568,0.014815

### **Primeiro Período**

```
	ALGORITMOS E LÓGICA DE PROGRAMAÇÃO 90h
	INTRODUÇÃO À INFORMÁTICA 60h
	FUNDAMENTOS DE MATEMÁTICA 60h
	LÓGICA 60h
	TEORIA GERAL DA ADMINISTRAÇÃO 60h
```

#### ALGORITMOS E LÓGICA DE PROGRAMAÇÃO

In [14]:
algoritmo = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037000) |
                                               (df_dados_filtrado['id_componente'] == 62486) &
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
algoritmo = algoritmo[['discente', 'media_final', 'descricao', 'ano']]
algoritmo.head()

                             discente media_final  descricao    ano
41   005c14d7c07bf7980b60c703f99c5ee7         5,9   APROVADO  20181
151  0107fd69d8cd7e3d30dede96fb68bfe5         7,0   APROVADO  20112
149  0107fd69d8cd7e3d30dede96fb68bfe5         4,2  REPROVADO  20111
199  014789363f7940922e71e710ee9d22bc         7,0   APROVADO  20162
184  014789363f7940922e71e710ee9d22bc         5,0  REPROVADO  20161

#### INTRODUÇÃO À INFORMÁTICA

In [15]:
intro_informatica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037001) |
                                               (df_dados_filtrado['id_componente'] == 62487)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
intro_informatica = intro_informatica[['discente', 'media_final', 'descricao', 'ano']]
intro_informatica.head()

                             discente media_final  descricao    ano
34   005c14d7c07bf7980b60c703f99c5ee7         5,1   APROVADO  20182
21   005c14d7c07bf7980b60c703f99c5ee7         0,0  REPROVADO  20181
148  0107fd69d8cd7e3d30dede96fb68bfe5         2,7  REPROVADO  20111
177  014789363f7940922e71e710ee9d22bc         0,3  REPROVADO  20161
188  014789363f7940922e71e710ee9d22bc         5,7   APROVADO  20162

#### FUNDAMENTOS DE MATEMÁTICA

In [16]:
fundamentos_mat = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037003) |
                                               (df_dados_filtrado['id_componente'] == 62488)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
fundamentos_mat = fundamentos_mat[['discente', 'media_final', 'descricao', 'ano']]
fundamentos_mat.head()

                             discente media_final  descricao    ano
38   005c14d7c07bf7980b60c703f99c5ee7         5,7   APROVADO  20191
27   005c14d7c07bf7980b60c703f99c5ee7         0,8  REPROVADO  20181
147  0107fd69d8cd7e3d30dede96fb68bfe5         1,6  REPROVADO  20111
175  014789363f7940922e71e710ee9d22bc         0,1  REPROVADO  20162
176  014789363f7940922e71e710ee9d22bc         0,2  REPROVADO  20161

#### LÓGICA

In [17]:
logica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037002) |
                                               (df_dados_filtrado['id_componente'] == 62489)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
logica = logica[['discente', 'media_final', 'descricao', 'ano']]
logica.head()

                             discente media_final  descricao    ano
36   005c14d7c07bf7980b60c703f99c5ee7         5,4   APROVADO  20191
32   005c14d7c07bf7980b60c703f99c5ee7         3,0  REPROVADO  20181
150  0107fd69d8cd7e3d30dede96fb68bfe5         4,9  REPROVADO  20111
181  014789363f7940922e71e710ee9d22bc         4,2  REPROVADO  20161
191  014789363f7940922e71e710ee9d22bc         6,0   APROVADO  20162

#### TEORIA GERAL DA ADMINISTRAÇÃO

In [18]:
tga = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037004) |
                                               (df_dados_filtrado['id_componente'] == 62490)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
tga = tga[['discente', 'media_final', 'descricao', 'ano']]
tga.head()

                             discente media_final  descricao    ano
54   005c14d7c07bf7980b60c703f99c5ee7         8,7   APROVADO  20181
153  0107fd69d8cd7e3d30dede96fb68bfe5         7,8   APROVADO  20111
187  014789363f7940922e71e710ee9d22bc         5,7   APROVADO  20161
353  0168075add041f9eb4bba46d6fdb6387         0,0  REPROVADO  20181
403  026f9509c92f18fdea01c391a9d401a8         6,7   APROVADO  20161

### **Segundo Período**

```
PROGRAMAÇÃO - 90h
CÁLCULO DIFERENCIAL E INTEGRAL - 60h
TEORIA GERAL DOS SISTEMAS - 60h
```

#### PROGRAMAÇÃO

In [19]:
programacao = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037006) |
                                               (df_dados_filtrado['id_componente'] == 62748)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
programacao = programacao[['discente', 'media_final', 'descricao', 'ano']]
programacao.head()

                             discente media_final  descricao    ano
35   005c14d7c07bf7980b60c703f99c5ee7         5,3   APROVADO  20191
31   005c14d7c07bf7980b60c703f99c5ee7         2,7  REPROVADO  20182
201  014789363f7940922e71e710ee9d22bc         7,1   APROVADO  20171
386  026f9509c92f18fdea01c391a9d401a8         2,5  REPROVADO  20162
394  026f9509c92f18fdea01c391a9d401a8         5,8   APROVADO  20171

#### CÁLCULO DIFERENCIAL E INTEGRAL

In [20]:
calculo = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037007) |
                                               (df_dados_filtrado['id_componente'] == 62708)&
                                             (df_dados_filtrado['ano'] < 20222)]

#Separando atributos
calculo = calculo[['discente', 'media_final', 'descricao', 'ano']]
calculo.head()

                             discente media_final  descricao    ano
25   005c14d7c07bf7980b60c703f99c5ee7         0,3  REPROVADO  20192
391  026f9509c92f18fdea01c391a9d401a8         5,2   APROVADO  20202
603  02dad20dec819bcc384cc6fa0b7ecbf9         5,0   APROVADO  20092
839  04c4db33b712881ca8936fdc225bf153         5,1   APROVADO  20131
938  057b5f3791c59f7ea9673943a63ee7ea         8,5   APROVADO  20102

#### TEORIA GERAL DOS SISTEMAS

In [21]:
tgs = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62707) |
                                               (df_dados_filtrado['id_componente'] == 2037008)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
tgs = tgs[['discente', 'media_final', 'descricao', 'ano']]
tgs.head()

                             discente media_final  descricao    ano
40   005c14d7c07bf7980b60c703f99c5ee7         5,8   APROVADO  20182
152  0107fd69d8cd7e3d30dede96fb68bfe5         7,2   APROVADO  20112
211  014789363f7940922e71e710ee9d22bc         8,3   APROVADO  20162
366  020d362ad9aecb1942935475f1dc5f10         0,0  REPROVADO  20122
406  026f9509c92f18fdea01c391a9d401a8         6,8  REPROVADO  20162

### **Terceiro Período**


```
PROGRAMAÇÃO ORIENTADA A OBJETOS I - 60h
FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO - 60h
ÁLGEBRA LINEAR - 60h
ORGANIZAÇÃO, SISTEMAS E MÉTODOS - 60h
ESTRUTURA DE DADOS - 90h
```

#### PROGRAMAÇÃO ORIENTADA A OBJETOS I

In [22]:
poo_1 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037012) |
                                               (df_dados_filtrado['id_componente'] == 62750)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
poo_1 = poo_1[['discente', 'media_final', 'descricao', 'ano']]
poo_1.head()

                             discente media_final  descricao    ano
37   005c14d7c07bf7980b60c703f99c5ee7         5,6   APROVADO  20192
218  014789363f7940922e71e710ee9d22bc         9,0   APROVADO  20172
413  026f9509c92f18fdea01c391a9d401a8         7,5   APROVADO  20172
605  02dad20dec819bcc384cc6fa0b7ecbf9         5,0   APROVADO  20111
593  02dad20dec819bcc384cc6fa0b7ecbf9         0,8  REPROVADO  20101

#### FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO

In [23]:
fundamentos_si = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037011) |
                                               (df_dados_filtrado['id_componente'] == 62709)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
fundamentos_si = fundamentos_si[['discente', 'media_final', 'descricao', 'ano']]
fundamentos_si.head()

                             discente media_final descricao    ano
56   005c14d7c07bf7980b60c703f99c5ee7         9,0  APROVADO  20206
206  014789363f7940922e71e710ee9d22bc         7,7  APROVADO  20171
430  026f9509c92f18fdea01c391a9d401a8         9,8  APROVADO  20206
614  02dad20dec819bcc384cc6fa0b7ecbf9         8,0  APROVADO  20101
694  0347e118dc1347900f6bf3cdbb213dbd         7,3  APROVADO  20161

#### ÁLGEBRA LINEAR

In [24]:
algebra = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037016) |
                                               (df_dados_filtrado['id_componente'] == 62710)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
algebra = algebra[['discente', 'media_final', 'descricao', 'ano']]
algebra.head()

                             discente media_final  descricao    ano
18   005c14d7c07bf7980b60c703f99c5ee7         0,0  REPROVADO  20211
20   005c14d7c07bf7980b60c703f99c5ee7         0,0  REPROVADO  20221
190  014789363f7940922e71e710ee9d22bc         5,9   APROVADO  20191
388  026f9509c92f18fdea01c391a9d401a8         5,0   APROVADO  20206
604  02dad20dec819bcc384cc6fa0b7ecbf9         5,0   APROVADO  20101

#### ORGANIZAÇÃO, SISTEMAS E MÉTODOS

In [25]:
osm = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62751) |
                                               (df_dados_filtrado['id_componente'] == 2037013)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
osm = osm[['discente', 'media_final', 'descricao', 'ano']]
osm.head()

                             discente media_final  descricao    ano
49   005c14d7c07bf7980b60c703f99c5ee7         8,1   APROVADO  20191
192  014789363f7940922e71e710ee9d22bc         6,0   APROVADO  20171
399  026f9509c92f18fdea01c391a9d401a8         6,5   APROVADO  20171
612  02dad20dec819bcc384cc6fa0b7ecbf9         7,2   APROVADO  20102
601  02dad20dec819bcc384cc6fa0b7ecbf9         2,7  REPROVADO  20101

#### ESTRUTURA DE DADOS

In [26]:
ed = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2054351) |
                                               (df_dados_filtrado['id_componente'] == 62749)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
ed = ed[['discente', 'media_final', 'descricao', 'ano']]
ed.head()

                             discente media_final  descricao    ano
19   005c14d7c07bf7980b60c703f99c5ee7         0,0  REPROVADO  20212
22   005c14d7c07bf7980b60c703f99c5ee7         0,0  REPROVADO  20202
23   005c14d7c07bf7980b60c703f99c5ee7         0,0  REPROVADO  20221
193  014789363f7940922e71e710ee9d22bc         6,1   APROVADO  20192
180  014789363f7940922e71e710ee9d22bc         2,7  REPROVADO  20191

### **Quarto Período**


```
ARQUITETURA DE COMPUTADORES - 60h
PROGRAMAÇÃO WEB - 60h
PROBABILIDADE E ESTATÍSTICA - 60h
BANCO DE DADOS - 60h
ENGENHARIA DE SOFTWARE I - 60h
```

#### ARQUITETURA DE COMPUTADORES

In [27]:
arquitetura = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037018) |
                                               (df_dados_filtrado['id_componente'] == 62711)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
arquitetura = arquitetura[['discente', 'media_final', 'descricao', 'ano']]
arquitetura.head()

                             discente media_final  descricao    ano
57   005c14d7c07bf7980b60c703f99c5ee7         9,0   APROVADO  20206
29   005c14d7c07bf7980b60c703f99c5ee7         1,6  REPROVADO  20192
174  014789363f7940922e71e710ee9d22bc         0,0  REPROVADO  20172
178  014789363f7940922e71e710ee9d22bc         0,7  REPROVADO  20182
183  014789363f7940922e71e710ee9d22bc         5,0   APROVADO  20192

#### PROGRAMAÇÃO WEB

In [28]:
p_web = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037021) |
                                               (df_dados_filtrado['id_componente'] == 62752)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
p_web = p_web[['discente', 'media_final', 'descricao', 'ano']]
p_web.head()

                             discente media_final descricao    ano
55   005c14d7c07bf7980b60c703f99c5ee7         8,7  APROVADO  20206
207  014789363f7940922e71e710ee9d22bc         7,8  APROVADO  20181
325  014f0dec46fe7a9c5836527662e1df10         5,4  APROVADO  20205
401  026f9509c92f18fdea01c391a9d401a8         6,6  APROVADO  20181
928  057b5f3791c59f7ea9673943a63ee7ea         7,6  APROVADO  20131

#### PROBABILIDADE E ESTATÍSTICA

In [29]:
probabilidade = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037009) |
                                               (df_dados_filtrado['id_componente'] == 62712)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
probabilidade = probabilidade[['discente', 'media_final', 'descricao', 'ano']]
probabilidade.head()

                             discente media_final descricao    ano
33   005c14d7c07bf7980b60c703f99c5ee7         5,0  APROVADO  20202
221  014789363f7940922e71e710ee9d22bc         9,7  APROVADO  20206
400  026f9509c92f18fdea01c391a9d401a8         6,5  APROVADO  20211
542  029458a349548473ecd50f3ed942ddf7         5,0  APROVADO  20202
617  02dad20dec819bcc384cc6fa0b7ecbf9         8,4  APROVADO  20102

#### BANCO DE DADOS

In [30]:
bd_1 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037014) |
                                               (df_dados_filtrado['id_componente'] == 62759)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
bd_1 = bd_1[['discente', 'media_final', 'descricao', 'ano']]
bd_1.head()

                             discente media_final  descricao    ano
39   005c14d7c07bf7980b60c703f99c5ee7         5,7   APROVADO  20192
186  014789363f7940922e71e710ee9d22bc         5,5   APROVADO  20172
320  014f0dec46fe7a9c5836527662e1df10         2,9  CANCELADO  20202
395  026f9509c92f18fdea01c391a9d401a8         5,8   APROVADO  20172
914  057b5f3791c59f7ea9673943a63ee7ea         5,3   APROVADO  20112

#### ENGENHARIA DE SOFTWARE I

In [31]:
engenharia_1 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037017) |
                                               (df_dados_filtrado['id_componente'] == 62761)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
engenharia_1 = engenharia_1[['discente', 'media_final', 'descricao', 'ano']]
engenharia_1.head()

                             discente media_final  descricao    ano
30   005c14d7c07bf7980b60c703f99c5ee7         1,7  REPROVADO  20212
205  014789363f7940922e71e710ee9d22bc         7,6   APROVADO  20181
419  026f9509c92f18fdea01c391a9d401a8         8,1   APROVADO  20181
608  02dad20dec819bcc384cc6fa0b7ecbf9         6,0   APROVADO  20102
834  04c4db33b712881ca8936fdc225bf153         4,7  REPROVADO  20112

### **Quinto Período**

```
PROGRAMAÇÃO ORIENTADA A OBJETOS II - 60h
SISTEMAS OPERACIONAIS - 60h
PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS - 60h
ENGENHARIA DE SOFTWARE II - 60h
```

#### PROGRAMAÇÃO ORIENTADA A OBJETOS II

In [32]:
poo_2 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037015) |
                                               (df_dados_filtrado['id_componente'] == 62758)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
poo_2 = poo_2[['discente', 'media_final', 'descricao', 'ano']]
poo_2.head()

                             discente media_final  descricao    ano
44   005c14d7c07bf7980b60c703f99c5ee7         6,8   APROVADO  20211
204  014789363f7940922e71e710ee9d22bc         7,5   APROVADO  20182
321  014f0dec46fe7a9c5836527662e1df10         5,0   APROVADO  20206
426  026f9509c92f18fdea01c391a9d401a8         8,9   APROVADO  20182
591  02dad20dec819bcc384cc6fa0b7ecbf9         0,0  REPROVADO  20122

#### SISTEMAS OPERACIONAIS

In [33]:
so = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037022) |
                                               (df_dados_filtrado['id_componente'] == 62762)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
so = so[['discente', 'media_final', 'descricao', 'ano']]
so.head()

                             discente media_final descricao    ano
45   005c14d7c07bf7980b60c703f99c5ee7         7,5  APROVADO  20211
198  014789363f7940922e71e710ee9d22bc         6,6  APROVADO  20206
408  026f9509c92f18fdea01c391a9d401a8         7,0  APROVADO  20172
801  041a644db3db3f4b20175881c2248bb0         7,3  APROVADO  20181
926  057b5f3791c59f7ea9673943a63ee7ea         7,5  APROVADO  20131

#### PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS

In [34]:
bd_2 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037019) |
                                               (df_dados_filtrado['id_componente'] == 62765)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
bd_2 = bd_2[['discente', 'media_final', 'descricao', 'ano']]
bd_2.head()

                             discente media_final  descricao    ano
24   005c14d7c07bf7980b60c703f99c5ee7         0,0  REPROVADO  20221
189  014789363f7940922e71e710ee9d22bc         5,8   APROVADO  20181
410  026f9509c92f18fdea01c391a9d401a8         7,3   APROVADO  20181
798  041a644db3db3f4b20175881c2248bb0         6,2   APROVADO  20181
932  057b5f3791c59f7ea9673943a63ee7ea         7,9   APROVADO  20131

#### ENGENHARIA DE SOFTWARE II

In [35]:
engenharia_2 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62785) |
                                               (df_dados_filtrado['id_componente'] == 2037020)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
engenharia_2 = engenharia_2[['discente', 'media_final', 'descricao', 'ano']]
engenharia_2.head()

                             discente media_final descricao    ano
208  014789363f7940922e71e710ee9d22bc         7,8  APROVADO  20182
398  026f9509c92f18fdea01c391a9d401a8         6,4  APROVADO  20182
607  02dad20dec819bcc384cc6fa0b7ecbf9         5,6  APROVADO  20131
803  041a644db3db3f4b20175881c2248bb0         7,9  APROVADO  20181
922  057b5f3791c59f7ea9673943a63ee7ea         7,3  APROVADO  20121

### **Sexto Período**



```
REDES DE COMPUTADORES - 60h
GESTÃO DE PROJETO DE SOFTWARE - 60h
EMPREENDENDORISMO EM INFORMÁTICA - 60h
```

#### REDES DE COMPUTADORES

In [36]:
redes = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037027) |
                                               (df_dados_filtrado['id_componente'] == 62763)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
redes = redes[['discente', 'media_final', 'descricao', 'ano']]
redes.head()

                             discente media_final  descricao    ano
26   005c14d7c07bf7980b60c703f99c5ee7         0,3  REPROVADO  20212
196  014789363f7940922e71e710ee9d22bc         6,5   APROVADO  20205
416  026f9509c92f18fdea01c391a9d401a8         7,9   APROVADO  20182
799  041a644db3db3f4b20175881c2248bb0         6,5   APROVADO  20182
935  057b5f3791c59f7ea9673943a63ee7ea         8,2   APROVADO  20131

#### GESTÃO DE PROJETO DE SOFTWARE

In [37]:
gestao = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037026) |
                                               (df_dados_filtrado['id_componente'] == 62786)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
gestao = gestao[['discente', 'media_final', 'descricao', 'ano']]
gestao.head()

                             discente media_final  descricao    ano
209  014789363f7940922e71e710ee9d22bc         7,8   APROVADO  20191
412  026f9509c92f18fdea01c391a9d401a8         7,4   APROVADO  20191
800  041a644db3db3f4b20175881c2248bb0         6,8   APROVADO  20182
941  057b5f3791c59f7ea9673943a63ee7ea         8,6   APROVADO  20132
909  057b5f3791c59f7ea9673943a63ee7ea         4,2  REPROVADO  20122

#### EMPREENDENDORISMO EM INFORMÁTICA

In [38]:
emp_informatica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037052) |
                                               (df_dados_filtrado['id_componente'] == 62713)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
emp_informatica = emp_informatica[['discente', 'media_final', 'descricao', 'ano']]
emp_informatica = emp_informatica.rename(columns={'media_final':'emp_informatica'})
emp_informatica.head()

Empty DataFrame
Columns: [discente, emp_informatica, descricao, ano]
Index: []

#### CONTABILIDADE E CUSTOS

In [39]:
contabilidade = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62787) |
                                               (df_dados_filtrado['id_componente'] == 48333)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
contabilidade = contabilidade[['discente', 'media_final', 'descricao', 'ano']]
contabilidade = contabilidade.rename(columns={'media_final':'contabilidade'})
contabilidade.head()

                             discente contabilidade  descricao    ano
43   005c14d7c07bf7980b60c703f99c5ee7           6,5   APROVADO  20202
194  014789363f7940922e71e710ee9d22bc           6,4   APROVADO  20182
409  026f9509c92f18fdea01c391a9d401a8           7,2   APROVADO  20211
383  026f9509c92f18fdea01c391a9d401a8           0,0  REPROVADO  20202
552  029458a349548473ecd50f3ed942ddf7           9,1   APROVADO  20222

### **Sétimo Período**

```
PROGRAMAÇÃO VISUAL
```

#### PROGRAMAÇÃO VISUAL

In [40]:
prog_visual = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 48334) |
                                               (df_dados_filtrado['id_componente'] == 62764)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
prog_visual = prog_visual[['discente', 'media_final', 'descricao', 'ano']]
prog_visual = prog_visual.rename(columns={'media_final':'prog_visual'})
prog_visual.head()

                             discente prog_visual  descricao    ano
197  014789363f7940922e71e710ee9d22bc         6,6   APROVADO  20191
323  014f0dec46fe7a9c5836527662e1df10         5,1  CANCELADO  20202
411  026f9509c92f18fdea01c391a9d401a8         7,3   APROVADO  20191
548  029458a349548473ecd50f3ed942ddf7         7,3   APROVADO  20206
795  041a644db3db3f4b20175881c2248bb0         0,2  REPROVADO  20191

### **Oitavo Período**



```
ÉTICA - 60h
SISTEMAS DE APOIO À DECISÃO - 60h
```

#### ÉTICA

In [41]:
etica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 48335) |
                                               (df_dados_filtrado['id_componente'] == 62714)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
etica = etica[['discente', 'media_final', 'descricao', 'ano']]
etica = etica.rename(columns={'media_final':'etica'})
etica.head()

                             discente etica  descricao    ano
59   005c14d7c07bf7980b60c703f99c5ee7   9,2   APROVADO  20202
203  014789363f7940922e71e710ee9d22bc   7,5   APROVADO  20171
415  026f9509c92f18fdea01c391a9d401a8   7,8   APROVADO  20171
537  029458a349548473ecd50f3ed942ddf7   0,0  REPROVADO  20211
596  02dad20dec819bcc384cc6fa0b7ecbf9  10,0   APROVADO  20121

#### SISTEMAS DE APOIO À DECISÃO

In [42]:
sad = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037053) |
                                               (df_dados_filtrado['id_componente'] == 62766)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
sad = sad[['discente', 'media_final', 'descricao', 'ano']]
sad  = sad .rename(columns={'media_final': 'sad'})
sad.head()

                             discente  sad  descricao    ano
220  014789363f7940922e71e710ee9d22bc  9,6   APROVADO  20191
404  026f9509c92f18fdea01c391a9d401a8  6,7   APROVADO  20191
544  029458a349548473ecd50f3ed942ddf7  5,6   EXCLUIDA  20205
543  029458a349548473ecd50f3ed942ddf7  5,1   APROVADO  20221
538  029458a349548473ecd50f3ed942ddf7  0,5  REPROVADO  20202

In [43]:
percentual_obrigatórias = pd.crosstab(df_dados_filtrado["discente"], df_dados_filtrado["ano"], normalize="index")
percentual_obrigatórias

ano,20091,20092,20101,20102,20111,20112,20121,20122,20131,20132,...,20182,20191,20192,20202,20205,20206,20211,20212,20221,20222
discente,,,,,,,,,,,,,,,,,,,,,
005c14d7c07bf7980b60c703f99c5ee7,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.090909,0.121212,0.121212,0.121212,0.000000,0.121212,0.090909,0.090909,0.090909,0.000
0107fd69d8cd7e3d30dede96fb68bfe5,0.0,0.0,0.0,0.0,0.714286,0.285714,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
014789363f7940922e71e710ee9d22bc,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.108108,0.135135,0.081081,0.000000,0.027027,0.054054,0.000000,0.000000,0.000000,0.000
014f0dec46fe7a9c5836527662e1df10,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.500000,0.250000,0.250000,0.000000,0.000000,0.000000,0.000
0168075add041f9eb4bba46d6fdb6387,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fe802d8d85de6f842749468401d1146c,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.625000,0.375
fe87dfa176a74fc10a5cb701b9fb5dd4,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.250000,0.500000,0.250000,0.000000,0.000000,0.000000,0.000
fec9ed6026d55ecdf514c640312c3d08,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.100000,0.100000,0.150000,0.250000,0.150000,0.150000,0.100
ff56f2c5048dae0797fd3e851572b80c,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,...,0.097561,0.073171,0.024390,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000
ffe447b2fe2058d45d5f756349a26f45,0.0,0.0,0.0,0.0,0.000000,0.000000,1.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000

Certificando que a coluna 'media_final' seja numérica.

In [44]:
df_dados_filtrado['media_final'] = df_dados_filtrado['media_final'].str.replace(',', '.').astype(float)

In [45]:
df_dados_filtrado['ano'] = df_dados_filtrado['ano'].astype(int)

In [46]:
tabela_pivo = pd.pivot_table(df_dados_filtrado, values='media_final', index='discente', columns='nome', aggfunc='mean')

In [47]:
tabela_pivo = tabela_pivo.sort_index(axis=1, level='ano')

In [48]:
colunas_ordenadas = [
                    'ALGORITMOS E LÓGICA DE PROGRAMAÇÃO',
                    'INTRODUÇÃO À INFORMÁTICA',
                    'FUNDAMENTOS DE MATEMÁTICA',
                    'LÓGICA',
                    'TEORIA GERAL DA ADMINISTRAÇÃO',
                    'PROGRAMAÇÃO',
                    'CÁLCULO DIFERENCIAL E INTEGRAL',
                    'TEORIA GERAL DOS SISTEMAS',
                    'PROGRAMAÇÃO ORIENTADA A OBJETOS I',
                    'ESTRUTURA DE DADOS',
                    'ÁLGEBRA LINEAR',
                    'ORGANIZAÇÃO, SISTEMAS E MÉTODOS',
                    'FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO',
                    'PROGRAMAÇÃO WEB',
                    'ARQUITETURA DE COMPUTADORES',
                    'PROBABILIDADE E ESTATÍSTICA',
                    'BANCO DE DADOS',
                    'ENGENHARIA DE SOFTWARE I',
                    'PROGRAMAÇÃO ORIENTADA A OBJETOS II',
                    'SISTEMAS OPERACIONAIS',
                    'PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS',
                    'ENGENHARIA DE SOFTWARE II',
                    'REDES DE COMPUTADORES',
                    'CONTABILIDADE E CUSTOS',
                    'EMPREENDEDORISMO EM INFORMÁTICA',
                    'GESTÃO DE PROJETO DE SOFTWARE',
                    'PROGRAMAÇÃO VISUAL',
                    'MATEMÁTICA FINANCEIRA',
                    'SISTEMAS DE APOIO À DECISÃO',
                    'ÉTICA',
                ]
tabela_pivo = tabela_pivo[colunas_ordenadas]
print(tabela_pivo)

nome                              ALGORITMOS E LÓGICA DE PROGRAMAÇÃO  \
discente
005c14d7c07bf7980b60c703f99c5ee7                                5.90
0107fd69d8cd7e3d30dede96fb68bfe5                                5.60
014789363f7940922e71e710ee9d22bc                                6.00
014f0dec46fe7a9c5836527662e1df10                                 NaN
0168075add041f9eb4bba46d6fdb6387                                2.00
...                                                              ...
fe802d8d85de6f842749468401d1146c                                4.80
fe87dfa176a74fc10a5cb701b9fb5dd4                                 NaN
fec9ed6026d55ecdf514c640312c3d08                                8.70
ff56f2c5048dae0797fd3e851572b80c                                4.45
ffe447b2fe2058d45d5f756349a26f45                                0.00

nome                              INTRODUÇÃO À INFORMÁTICA  \
discente
005c14d7c07bf7980b60c703f99c5ee7                     2.550
0107fd69d8cd7e3d30dede96fb68bfe5                     2.700
014789363f7940922e71e710ee9d22bc                     3.000
014f0dec46fe7a9c5836527662e1df10                       NaN
0168075add041f9eb4bba46d6fdb6387                     0.000
...                                                    ...
fe802d8d85de6f842749468401d1146c                     0.000
fe87dfa176a74fc10a5cb701b9fb5dd4                       NaN
fec9ed6026d55ecdf514c640312c3d08                     8.600
ff56f2c5048dae0797fd3e851572b80c                     4.025
ffe447b2fe2058d45d5f756349a26f45                     0.000

nome                              FUNDAMENTOS DE MATEMÁTICA  LÓGICA  \
discente
005c14d7c07bf7980b60c703f99c5ee7                   3.250000     4.2
0107fd69d8cd7e3d30dede96fb68bfe5                   1.600000     4.9
014789363f7940922e71e710ee9d22bc                   1.766667     5.1
014f0dec46fe7a9c5836527662e1df10                        NaN     NaN
0168075add041f9eb4bba46d6fdb6387                   0.000000     1.4
...                                                     ...     ...
fe802d8d85de6f842749468401d1146c                   2.850000     2.7
fe87dfa176a74fc10a5cb701b9fb5dd4                        NaN     5.1
fec9ed6026d55ecdf514c640312c3d08                   7.000000     8.1
ff56f2c5048dae0797fd3e851572b80c                   3.075000     3.4
ffe447b2fe2058d45d5f756349a26f45                        NaN     NaN

nome                              TEORIA GERAL DA ADMINISTRAÇÃO  PROGRAMAÇÃO  \
discente
005c14d7c07bf7980b60c703f99c5ee7                            8.7     4.000000
0107fd69d8cd7e3d30dede96fb68bfe5                            7.8          NaN
014789363f7940922e71e710ee9d22bc                            5.7     7.100000
014f0dec46fe7a9c5836527662e1df10                            NaN          NaN
0168075add041f9eb4bba46d6fdb6387                            0.0          NaN
...                                                         ...          ...
fe802d8d85de6f842749468401d1146c                            6.5          NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                            NaN          NaN
fec9ed6026d55ecdf514c640312c3d08                            9.5    10.000000
ff56f2c5048dae0797fd3e851572b80c                            7.2     3.233333
ffe447b2fe2058d45d5f756349a26f45                            0.0          NaN

nome                              CÁLCULO DIFERENCIAL E INTEGRAL  \
discente
005c14d7c07bf7980b60c703f99c5ee7                             0.3
0107fd69d8cd7e3d30dede96fb68bfe5                             NaN
014789363f7940922e71e710ee9d22bc                             NaN
014f0dec46fe7a9c5836527662e1df10                             NaN
0168075add041f9eb4bba46d6fdb6387                             NaN
...                                                          ...
fe802d8d85de6f842749468401d1146c                             NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                             NaN
fec9ed6026d55ecdf514c640312c3d08                             6.7
ff56f2c5048dae0797fd3e851572b80c                             6.9
ffe447b2fe2058d45d5f756349a26f45                             NaN

nome                              TEORIA GERAL DOS SISTEMAS  \
discente
005c14d7c07bf7980b60c703f99c5ee7                        5.8
0107fd69d8cd7e3d30dede96fb68bfe5                        7.2
014789363f7940922e71e710ee9d22bc                        8.3
014f0dec46fe7a9c5836527662e1df10                        NaN
0168075add041f9eb4bba46d6fdb6387                        NaN
...                                                     ...
fe802d8d85de6f842749468401d1146c                        5.0
fe87dfa176a74fc10a5cb701b9fb5dd4                        NaN
fec9ed6026d55ecdf514c640312c3d08                        9.1
ff56f2c5048dae0797fd3e851572b80c                        6.2
ffe447b2fe2058d45d5f756349a26f45                        NaN

nome                              PROGRAMAÇÃO ORIENTADA A OBJETOS I  \
discente
005c14d7c07bf7980b60c703f99c5ee7                                5.6
0107fd69d8cd7e3d30dede96fb68bfe5                                NaN
014789363f7940922e71e710ee9d22bc                                9.0
014f0dec46fe7a9c5836527662e1df10                                NaN
0168075add041f9eb4bba46d6fdb6387                                NaN
...                                                             ...
fe802d8d85de6f842749468401d1146c                                NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                                NaN
fec9ed6026d55ecdf514c640312c3d08                                5.8
ff56f2c5048dae0797fd3e851572b80c                                7.7
ffe447b2fe2058d45d5f756349a26f45                                NaN

nome                              ESTRUTURA DE DADOS  ...  \
discente                                              ...
005c14d7c07bf7980b60c703f99c5ee7                 0.0  ...
0107fd69d8cd7e3d30dede96fb68bfe5                 NaN  ...
014789363f7940922e71e710ee9d22bc                 4.4  ...
014f0dec46fe7a9c5836527662e1df10                 NaN  ...
0168075add041f9eb4bba46d6fdb6387                 NaN  ...
...                                              ...  ...
fe802d8d85de6f842749468401d1146c                 NaN  ...
fe87dfa176a74fc10a5cb701b9fb5dd4                 NaN  ...
fec9ed6026d55ecdf514c640312c3d08                 6.7  ...
ff56f2c5048dae0797fd3e851572b80c                 3.3  ...
ffe447b2fe2058d45d5f756349a26f45                 NaN  ...

nome                              PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS  \
discente
005c14d7c07bf7980b60c703f99c5ee7                                        0.0
0107fd69d8cd7e3d30dede96fb68bfe5                                        NaN
014789363f7940922e71e710ee9d22bc                                        5.8
014f0dec46fe7a9c5836527662e1df10                                        NaN
0168075add041f9eb4bba46d6fdb6387                                        NaN
...                                                                     ...
fe802d8d85de6f842749468401d1146c                                        NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                                        NaN
fec9ed6026d55ecdf514c640312c3d08                                        7.9
ff56f2c5048dae0797fd3e851572b80c                                        6.3
ffe447b2fe2058d45d5f756349a26f45                                        NaN

nome                              ENGENHARIA DE SOFTWARE II  \
discente
005c14d7c07bf7980b60c703f99c5ee7                        NaN
0107fd69d8cd7e3d30dede96fb68bfe5                        NaN
014789363f7940922e71e710ee9d22bc                        7.8
014f0dec46fe7a9c5836527662e1df10                        NaN
0168075add041f9eb4bba46d6fdb6387                        NaN
...                                                     ...
fe802d8d85de6f842749468401d1146c                        NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                        7.3
fec9ed6026d55ecdf514c640312c3d08                        NaN
ff56f2c5048dae0797fd3e851572b80c                        6.2
ffe447b2fe2058d45d5f756349a26f45                        NaN

nome                              REDES DE COMPUTADORES  \
discente
005c14d7c07bf7980b60c703f99c5ee7                    0.3
0107fd69d8cd7e3d30dede96fb68bfe5                    NaN
014789363f7940922e71e710ee9d22bc                    6.5
014f0dec46fe7a9c5836527662e1df10                    NaN
0168075add041f9eb4bba46d6fdb6387                    NaN
...                                                 ...
fe802d8d85de6f842749468401d1146c                    NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                    NaN
fec9ed6026d55ecdf514c640312c3d08                    NaN
ff56f2c5048dae0797fd3e851572b80c                    5.5
ffe447b2fe2058d45d5f756349a26f45                    NaN

nome                              CONTABILIDADE E CUSTOS  \
discente
005c14d7c07bf7980b60c703f99c5ee7                     6.5
0107fd69d8cd7e3d30dede96fb68bfe5                     NaN
014789363f7940922e71e710ee9d22bc                     6.4
014f0dec46fe7a9c5836527662e1df10                     NaN
0168075add041f9eb4bba46d6fdb6387                     NaN
...                                                  ...
fe802d8d85de6f842749468401d1146c                     NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                     NaN
fec9ed6026d55ecdf514c640312c3d08                     NaN
ff56f2c5048dae0797fd3e851572b80c                     5.3
ffe447b2fe2058d45d5f756349a26f45                     NaN

nome                              EMPREENDEDORISMO EM INFORMÁTICA  \
discente
005c14d7c07bf7980b60c703f99c5ee7                              NaN
0107fd69d8cd7e3d30dede96fb68bfe5                              NaN
014789363f7940922e71e710ee9d22bc                              NaN
014f0dec46fe7a9c5836527662e1df10                              NaN
0168075add041f9eb4bba46d6fdb6387                              NaN
...                                                           ...
fe802d8d85de6f842749468401d1146c                              NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                              NaN
fec9ed6026d55ecdf514c640312c3d08                              NaN
ff56f2c5048dae0797fd3e851572b80c                              NaN
ffe447b2fe2058d45d5f756349a26f45                              NaN

nome                              GESTÃO DE PROJETO DE SOFTWARE  \
discente
005c14d7c07bf7980b60c703f99c5ee7                            NaN
0107fd69d8cd7e3d30dede96fb68bfe5                            NaN
014789363f7940922e71e710ee9d22bc                            7.8
014f0dec46fe7a9c5836527662e1df10                            NaN
0168075add041f9eb4bba46d6fdb6387                            NaN
...                                                         ...
fe802d8d85de6f842749468401d1146c                            NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                            9.7
fec9ed6026d55ecdf514c640312c3d08                            NaN
ff56f2c5048dae0797fd3e851572b80c                            8.0
ffe447b2fe2058d45d5f756349a26f45                            NaN

nome                              PROGRAMAÇÃO VISUAL  MATEMÁTICA FINANCEIRA  \
discente
005c14d7c07bf7980b60c703f99c5ee7                 NaN                    7.6
0107fd69d8cd7e3d30dede96fb68bfe5                 NaN                    NaN
014789363f7940922e71e710ee9d22bc                 6.6                    7.6
014f0dec46fe7a9c5836527662e1df10                 5.1                    NaN
0168075add041f9eb4bba46d6fdb6387                 NaN                    NaN
...                                              ...                    ...
fe802d8d85de6f842749468401d1146c                 NaN                    NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                 NaN                    NaN
fec9ed6026d55ecdf514c640312c3d08                 NaN                    NaN
ff56f2c5048dae0797fd3e851572b80c                 6.4                    8.2
ffe447b2fe2058d45d5f756349a26f45                 NaN                    NaN

nome                              SISTEMAS DE APOIO À DECISÃO  ÉTICA
discente
005c14d7c07bf7980b60c703f99c5ee7                          NaN    9.2
0107fd69d8cd7e3d30dede96fb68bfe5                          NaN    NaN
014789363f7940922e71e710ee9d22bc                          9.6    7.5
014f0dec46fe7a9c5836527662e1df10                          NaN    NaN
0168075add041f9eb4bba46d6fdb6387                          NaN    NaN
...                                                       ...    ...
fe802d8d85de6f842749468401d1146c                          NaN    NaN
fe87dfa176a74fc10a5cb701b9fb5dd4                          NaN    NaN
fec9ed6026d55ecdf514c640312c3d08                          NaN    NaN
ff56f2c5048dae0797fd3e851572b80c                          7.9    NaN
ffe447b2fe2058d45d5f756349a26f45                          NaN    NaN

[644 rows x 30 columns]

In [49]:
tabela_pivo.to_csv('dados-ordenados-bsi.csv', index=False, sep=';')