In [24]:
import pandas as pd

Leitura do arquivo em csv e carregamento desses dados em um DataFrame usando o ponto e vírgula como separador.

In [25]:
df_dados = pd.read_csv('dados-bsi-2009-2022.csv', sep=';')

/tmp/ipykernel_20972/3271730213.py:1: DtypeWarning: Columns (30,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dados = pd.read_csv('dados-bsi-2009-2022.csv', sep=';')

### Selecionando Colunas

In [26]:
colunas = df_dados.columns
print(colunas)

Index(['id_turma', 'codigo_turma', 'siape', 'matricula_docente_externo',
       'observacao', 'id_componente_curricular', 'ch_dedicada_periodo',
       'nivel_ensino', 'campus_turma', 'local', 'ano', 'periodo',
       'data_inicio', 'data_fim', 'descricao_horario', 'total_solicitacoes',
       'capacidade_aluno', 'tipo', 'distancia', 'data_consolidacao',
       'agrupadora', 'id_turma_agrupadora', 'qtd_aulas_lancadas',
       'situacao_turma', 'convenio', 'modalidade_participantes', 'discente',
       'id_curso', 'unidade', 'nota', 'reposicao', 'faltas_unidade',
       'media_final', 'numero_total_faltas', 'descricao', 'id_componente',
       'tipo_componente', 'codigo', 'nivel', 'nome', 'unidade_responsavel',
       'ch_teorico', 'ch_pratico', 'ch_estagio', 'ch_total',
       'ch_dedicada_docente', 'ch_ead', 'cr_max_ead',
       'permite_horario_flexivel', 'qtd_unidades', 'procedimentos_avaliacao',
       'equivalencia', 'pre_requisito', 'co_requisito', 'ementa',
       'bibliografia', 'objetivos', 'conteudo', 'competencias_habilidades',
       'referencias', 'ano_programa', 'periodo_programa', 'modalidade',
       'curso_componente'],
      dtype='object')

In [27]:
df_dados_reduzido = df_dados.filter(items=['discente', 'unidade', 'media_final', 'descricao', 'ano', 'id_componente', 'nome'])
df_dados_reduzido

,discente,unidade,media_final,descricao,ano,id_componente,nome
0,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20211,70811,GESTÃO DA INOVAÇÃO
1,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20222,62802,PESQUISA OPERACIONAL
2,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20221,70811,GESTÃO DA INOVAÇÃO
3,001cea3c82e2010681f2cdeab21e5ecf,1.0,"1,0",EXCLUIDA,20205,71950,MARKETING DIGITAL
4,001cea3c82e2010681f2cdeab21e5ecf,1.0,"6,2",APROVADO POR NOTA,20181,62768,PROGRAMAÇÃO PARA DISPOSITIVOS MÓVEIS
...,...,...,...,...,...,...,...
47919,ffe447b2fe2058d45d5f756349a26f45,2.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20121,2037001,INTRODUÇÃO À INFORMÁTICA
47920,ffe447b2fe2058d45d5f756349a26f45,2.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20121,2037004,TEORIA GERAL DA ADMINISTRAÇÃO
47921,ffe447b2fe2058d45d5f756349a26f45,3.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20121,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO
47922,ffe447b2fe2058d45d5f756349a26f45,3.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20121,2037001,INTRODUÇÃO À INFORMÁTICA
47923,ffe447b2fe2058d45d5f756349a26f45,3.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20121,2037004,TEORIA GERAL DA ADMINISTRAÇÃO

### Filtros

In [28]:
filtro  = df_dados_reduzido['unidade'] == 1
df_dados_filtrado = df_dados_reduzido[filtro]
df_dados_filtrado

,discente,unidade,media_final,descricao,ano,id_componente,nome
0,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20211,70811,GESTÃO DA INOVAÇÃO
1,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO,20222,62802,PESQUISA OPERACIONAL
2,001cea3c82e2010681f2cdeab21e5ecf,1.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20221,70811,GESTÃO DA INOVAÇÃO
3,001cea3c82e2010681f2cdeab21e5ecf,1.0,"1,0",EXCLUIDA,20205,71950,MARKETING DIGITAL
4,001cea3c82e2010681f2cdeab21e5ecf,1.0,"6,2",APROVADO POR NOTA,20181,62768,PROGRAMAÇÃO PARA DISPOSITIVOS MÓVEIS
...,...,...,...,...,...,...,...
47805,ff56f2c5048dae0797fd3e851572b80c,1.0,"9,5",APROVADO,20192,42240,LÍNGUA BRASILEIRA DE SINAIS - LIBRAS
47806,ff56f2c5048dae0797fd3e851572b80c,1.0,"9,5",APROVADO,20212,62799,TÓPICOS ESPECIAIS EM INFORMÁTICA NA EDUCAÇÃO
47915,ffe447b2fe2058d45d5f756349a26f45,1.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20121,2037000,ALGORITMOS E LÓGICA DE PROGRAMAÇÃO
47916,ffe447b2fe2058d45d5f756349a26f45,1.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20121,2037001,INTRODUÇÃO À INFORMÁTICA
47917,ffe447b2fe2058d45d5f756349a26f45,1.0,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20121,2037004,TEORIA GERAL DA ADMINISTRAÇÃO

In [29]:
'ALGORITMOS E LOGICA DE PROGRAMACAO',
'FUNDAMENTOS DE SISTEMAS DE INFORMACAO',
'INTRODUCAO A INFORMATICA',

'PROGRAMACAO ORIENTADA A OBJETOS I',
'LOGICA',
'ALGEBRA LINEAR',
'TEORIA GERAL DA ADMINISTRACAO',
'ORGANIZACAO, SISTEMAS E METODOS',

'PROGRAMACAO ORIENTADA A OBJETOS II',
'PROBABILIDADE E ESTATISTICA',
'PROGRAMACAO',
'PROGRAMACAO WEB',
'PROJETO E ADMINISTRACAO DE BANCO DE DADOS',
'MATEMATICA FINANCEIRA',
'PROGRAMACAO VISUAL',
'EMPREENDEDORISMO EM INFORMATICA',
'ESTRUTURA DE DADOS',
'ARQUITETURA DE COMPUTADORES',
'TEORIA GERAL DOS SISTEMAS',
'SISTEMAS OPERACIONAIS',
'ENGENHARIA DE SOFTWARE II',
'ENGENHARIA DE SOFTWARE I',
'GEOMETRIA ANALITICA',
'REDES DE COMPUTADORES',

('REDES DE COMPUTADORES',)

### **Primeiro Período**

```
	ALGORITMOS E LÓGICA DE PROGRAMAÇÃO 90h
	INTRODUÇÃO À INFORMÁTICA 60h
	FUNDAMENTOS DE MATEMÁTICA 60h
	LÓGICA 60h
	TEORIA GERAL DA ADMINISTRAÇÃO 60h
```

#### ALGORITMOS E LÓGICA DE PROGRAMAÇÃO

In [30]:
algoritmo = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037000) |
                                               (df_dados_filtrado['id_componente'] == 62486) &
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
algoritmo = algoritmo[['discente', 'media_final', 'descricao', 'ano']]
algoritmo.head()

                             discente media_final           descricao    ano
41   005c14d7c07bf7980b60c703f99c5ee7         5,9   APROVADO POR NOTA  20181
149  0107fd69d8cd7e3d30dede96fb68bfe5         4,2           REPROVADO  20111
151  0107fd69d8cd7e3d30dede96fb68bfe5         7,0            APROVADO  20112
184  014789363f7940922e71e710ee9d22bc         5,0  REPROVADO POR NOTA  20161
199  014789363f7940922e71e710ee9d22bc         7,0            APROVADO  20162

#### INTRODUÇÃO À INFORMÁTICA

In [31]:
intro_informatica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037001) |
                                               (df_dados_filtrado['id_componente'] == 62487)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
intro_informatica = intro_informatica[['discente', 'media_final', 'descricao', 'ano']]
intro_informatica.head()

,discente,media_final,descricao,ano
21,005c14d7c07bf7980b60c703f99c5ee7,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20181
34,005c14d7c07bf7980b60c703f99c5ee7,"5,1",APROVADO POR NOTA,20182
148,0107fd69d8cd7e3d30dede96fb68bfe5,"2,7",REPROVADO,20111
177,014789363f7940922e71e710ee9d22bc,"0,3",REPROVADO,20161
188,014789363f7940922e71e710ee9d22bc,"5,7",APROVADO POR NOTA,20162

#### FUNDAMENTOS DE MATEMÁTICA

In [32]:
fundamentos_mat = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037003) |
                                               (df_dados_filtrado['id_componente'] == 62488)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
fundamentos_mat = fundamentos_mat[['discente', 'media_final', 'descricao', 'ano']]
fundamentos_mat.head()

                             discente media_final          descricao    ano
27   005c14d7c07bf7980b60c703f99c5ee7         0,8          REPROVADO  20181
38   005c14d7c07bf7980b60c703f99c5ee7         5,7  APROVADO POR NOTA  20191
147  0107fd69d8cd7e3d30dede96fb68bfe5         1,6          REPROVADO  20111
175  014789363f7940922e71e710ee9d22bc         0,1          REPROVADO  20162
176  014789363f7940922e71e710ee9d22bc         0,2          REPROVADO  20161

#### LÓGICA

In [33]:
logica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037002) |
                                               (df_dados_filtrado['id_componente'] == 62489)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
logica = logica[['discente', 'media_final', 'descricao', 'ano']]
logica.head()

                             discente media_final          descricao    ano
32   005c14d7c07bf7980b60c703f99c5ee7         3,0          REPROVADO  20181
36   005c14d7c07bf7980b60c703f99c5ee7         5,4  APROVADO POR NOTA  20191
150  0107fd69d8cd7e3d30dede96fb68bfe5         4,9          REPROVADO  20111
181  014789363f7940922e71e710ee9d22bc         4,2          REPROVADO  20161
191  014789363f7940922e71e710ee9d22bc         6,0  APROVADO POR NOTA  20162

#### TEORIA GERAL DA ADMINISTRAÇÃO

In [34]:
tga = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037004) |
                                               (df_dados_filtrado['id_componente'] == 62490)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
tga = tga[['discente', 'media_final', 'descricao', 'ano']]
tga.head()

,discente,media_final,descricao,ano
54,005c14d7c07bf7980b60c703f99c5ee7,"8,7",APROVADO,20181
153,0107fd69d8cd7e3d30dede96fb68bfe5,"7,8",APROVADO,20111
187,014789363f7940922e71e710ee9d22bc,"5,7",APROVADO POR NOTA,20161
353,0168075add041f9eb4bba46d6fdb6387,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20181
403,026f9509c92f18fdea01c391a9d401a8,"6,7",APROVADO POR NOTA,20161

### **Segundo Período**

```
PROGRAMAÇÃO - 90h
CÁLCULO DIFERENCIAL E INTEGRAL - 60h
TEORIA GERAL DOS SISTEMAS - 60h
```

#### PROGRAMAÇÃO

In [35]:
programacao = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037006) |
                                               (df_dados_filtrado['id_componente'] == 62748)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
programacao = programacao[['discente', 'media_final', 'descricao', 'ano']]
programacao.head()

,discente,media_final,descricao,ano
31,005c14d7c07bf7980b60c703f99c5ee7,"2,7",REPROVADO,20182
35,005c14d7c07bf7980b60c703f99c5ee7,"5,3",APROVADO POR NOTA,20191
201,014789363f7940922e71e710ee9d22bc,"7,1",APROVADO,20171
386,026f9509c92f18fdea01c391a9d401a8,"2,5",REPROVADO POR MÉDIA E POR FALTAS,20162
394,026f9509c92f18fdea01c391a9d401a8,"5,8",APROVADO POR NOTA,20171

#### CÁLCULO DIFERENCIAL E INTEGRAL

In [36]:
calculo = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037007) |
                                               (df_dados_filtrado['id_componente'] == 62708)&
                                             (df_dados_filtrado['ano'] < 20222)]

#Separando atributos
calculo = calculo[['discente', 'media_final', 'descricao', 'ano']]
calculo.head()

                             discente media_final          descricao    ano
25   005c14d7c07bf7980b60c703f99c5ee7         0,3          REPROVADO  20192
391  026f9509c92f18fdea01c391a9d401a8         5,2  APROVADO POR NOTA  20202
603  02dad20dec819bcc384cc6fa0b7ecbf9         5,0           APROVADO  20092
829  049e9a5e9b2e6647f7f05959ff176751         5,1  APROVADO POR NOTA  20212
869  04c4db33b712881ca8936fdc225bf153         5,1           APROVADO  20131

#### TEORIA GERAL DOS SISTEMAS

In [37]:
tgs = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62707) |
                                               (df_dados_filtrado['id_componente'] == 2037008)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
tgs = tgs[['discente', 'media_final', 'descricao', 'ano']]
tgs.head()

,discente,media_final,descricao,ano
40,005c14d7c07bf7980b60c703f99c5ee7,"5,8",APROVADO POR NOTA,20182
152,0107fd69d8cd7e3d30dede96fb68bfe5,"7,2",APROVADO,20112
211,014789363f7940922e71e710ee9d22bc,"8,3",APROVADO,20162
366,020d362ad9aecb1942935475f1dc5f10,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20122
406,026f9509c92f18fdea01c391a9d401a8,"6,8",REPROVADO POR FALTAS,20162

### **Terceiro Período**


```
PROGRAMAÇÃO ORIENTADA A OBJETOS I - 60h
FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO - 60h
ÁLGEBRA LINEAR - 60h
ORGANIZAÇÃO, SISTEMAS E MÉTODOS - 60h
ESTRUTURA DE DADOS - 90h
```

#### PROGRAMAÇÃO ORIENTADA A OBJETOS I

In [38]:
poo_1 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037012) |
                                               (df_dados_filtrado['id_componente'] == 62750)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
poo_1 = poo_1[['discente', 'media_final', 'descricao', 'ano']]
poo_1.head()

                             discente media_final             descricao    ano
37   005c14d7c07bf7980b60c703f99c5ee7         5,6     APROVADO POR NOTA  20192
218  014789363f7940922e71e710ee9d22bc         9,0              APROVADO  20172
413  026f9509c92f18fdea01c391a9d401a8         7,5              APROVADO  20172
593  02dad20dec819bcc384cc6fa0b7ecbf9         0,8  REPROVADO POR FALTAS  20101
597  02dad20dec819bcc384cc6fa0b7ecbf9         2,1             REPROVADO  20102

#### FUNDAMENTOS DE SISTEMAS DE INFORMAÇÃO

In [39]:
fundamentos_si = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037011) |
                                               (df_dados_filtrado['id_componente'] == 62709)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
fundamentos_si = fundamentos_si[['discente', 'media_final', 'descricao', 'ano']]
fundamentos_si.head()

                             discente media_final descricao    ano
56   005c14d7c07bf7980b60c703f99c5ee7         9,0  APROVADO  20206
206  014789363f7940922e71e710ee9d22bc         7,7  APROVADO  20171
430  026f9509c92f18fdea01c391a9d401a8         9,8  APROVADO  20206
614  02dad20dec819bcc384cc6fa0b7ecbf9         8,0  APROVADO  20101
694  0347e118dc1347900f6bf3cdbb213dbd         7,3  APROVADO  20161

#### ÁLGEBRA LINEAR

In [40]:
algebra = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037016) |
                                               (df_dados_filtrado['id_componente'] == 62710)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
algebra = algebra[['discente', 'media_final', 'descricao', 'ano']]
algebra.head()

                             discente media_final          descricao    ano
18   005c14d7c07bf7980b60c703f99c5ee7         0,0          REPROVADO  20211
20   005c14d7c07bf7980b60c703f99c5ee7         0,0          REPROVADO  20221
190  014789363f7940922e71e710ee9d22bc         5,9  APROVADO POR NOTA  20191
388  026f9509c92f18fdea01c391a9d401a8         5,0  APROVADO POR NOTA  20206
604  02dad20dec819bcc384cc6fa0b7ecbf9         5,0           APROVADO  20101

#### ORGANIZAÇÃO, SISTEMAS E MÉTODOS

In [41]:
osm = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62751) |
                                               (df_dados_filtrado['id_componente'] == 2037013)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
osm = osm[['discente', 'media_final', 'descricao', 'ano']]
osm.head()

                             discente media_final          descricao    ano
49   005c14d7c07bf7980b60c703f99c5ee7         8,1           APROVADO  20191
192  014789363f7940922e71e710ee9d22bc         6,0  APROVADO POR NOTA  20171
399  026f9509c92f18fdea01c391a9d401a8         6,5  APROVADO POR NOTA  20171
601  02dad20dec819bcc384cc6fa0b7ecbf9         2,7          REPROVADO  20101
612  02dad20dec819bcc384cc6fa0b7ecbf9         7,2           APROVADO  20102

#### ESTRUTURA DE DADOS

In [42]:
ed = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2054351) |
                                               (df_dados_filtrado['id_componente'] == 62749)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
ed = ed[['discente', 'media_final', 'descricao', 'ano']]
ed.head()

,discente,media_final,descricao,ano
19,005c14d7c07bf7980b60c703f99c5ee7,"0,0",REPROVADO,20212
22,005c14d7c07bf7980b60c703f99c5ee7,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20202
23,005c14d7c07bf7980b60c703f99c5ee7,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20221
180,014789363f7940922e71e710ee9d22bc,"2,7",REPROVADO,20191
193,014789363f7940922e71e710ee9d22bc,"6,1",APROVADO POR NOTA,20192

### **Quarto Período**


```
ARQUITETURA DE COMPUTADORES - 60h
PROGRAMAÇÃO WEB - 60h
PROBABILIDADE E ESTATÍSTICA - 60h
BANCO DE DADOS - 60h
ENGENHARIA DE SOFTWARE I - 60h
```

#### ARQUITETURA DE COMPUTADORES

In [43]:
arquitetura = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037018) |
                                               (df_dados_filtrado['id_componente'] == 62711)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
arquitetura = arquitetura[['discente', 'media_final', 'descricao', 'ano']]
arquitetura.head()

,discente,media_final,descricao,ano
29,005c14d7c07bf7980b60c703f99c5ee7,"1,6",REPROVADO,20192
57,005c14d7c07bf7980b60c703f99c5ee7,"9,0",APROVADO,20206
174,014789363f7940922e71e710ee9d22bc,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20172
178,014789363f7940922e71e710ee9d22bc,"0,7",REPROVADO,20182
183,014789363f7940922e71e710ee9d22bc,"5,0",APROVADO POR NOTA,20192

#### PROGRAMAÇÃO WEB

In [44]:
p_web = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037021) |
                                               (df_dados_filtrado['id_componente'] == 62752)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
p_web = p_web[['discente', 'media_final', 'descricao', 'ano']]
p_web.head()

                             discente media_final          descricao    ano
55   005c14d7c07bf7980b60c703f99c5ee7         8,7           APROVADO  20206
207  014789363f7940922e71e710ee9d22bc         7,8           APROVADO  20181
325  014f0dec46fe7a9c5836527662e1df10         5,4  APROVADO POR NOTA  20205
401  026f9509c92f18fdea01c391a9d401a8         6,6  APROVADO POR NOTA  20181
958  057b5f3791c59f7ea9673943a63ee7ea         7,6           APROVADO  20131

#### PROBABILIDADE E ESTATÍSTICA

In [45]:
probabilidade = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037009) |
                                               (df_dados_filtrado['id_componente'] == 62712)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
probabilidade = probabilidade[['discente', 'media_final', 'descricao', 'ano']]
probabilidade.head()

                             discente media_final          descricao    ano
33   005c14d7c07bf7980b60c703f99c5ee7         5,0  APROVADO POR NOTA  20202
221  014789363f7940922e71e710ee9d22bc         9,7           APROVADO  20206
400  026f9509c92f18fdea01c391a9d401a8         6,5  APROVADO POR NOTA  20211
542  029458a349548473ecd50f3ed942ddf7         5,0  APROVADO POR NOTA  20202
617  02dad20dec819bcc384cc6fa0b7ecbf9         8,4           APROVADO  20102

#### BANCO DE DADOS

In [46]:
bd_1 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037014) |
                                               (df_dados_filtrado['id_componente'] == 62759)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
bd_1 = bd_1[['discente', 'media_final', 'descricao', 'ano']]
bd_1.head()

                             discente media_final          descricao    ano
39   005c14d7c07bf7980b60c703f99c5ee7         5,7  APROVADO POR NOTA  20192
186  014789363f7940922e71e710ee9d22bc         5,5  APROVADO POR NOTA  20172
320  014f0dec46fe7a9c5836527662e1df10         2,9          CANCELADO  20202
395  026f9509c92f18fdea01c391a9d401a8         5,8  APROVADO POR NOTA  20172
944  057b5f3791c59f7ea9673943a63ee7ea         5,3           APROVADO  20112

#### ENGENHARIA DE SOFTWARE I

In [47]:
engenharia_1 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037017) |
                                               (df_dados_filtrado['id_componente'] == 62761)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
engenharia_1 = engenharia_1[['discente', 'media_final', 'descricao', 'ano']]
engenharia_1.head()

                             discente media_final  descricao    ano
30   005c14d7c07bf7980b60c703f99c5ee7         1,7  REPROVADO  20212
205  014789363f7940922e71e710ee9d22bc         7,6   APROVADO  20181
419  026f9509c92f18fdea01c391a9d401a8         8,1   APROVADO  20181
608  02dad20dec819bcc384cc6fa0b7ecbf9         6,0   APROVADO  20102
864  04c4db33b712881ca8936fdc225bf153         4,7  REPROVADO  20112

### **Quinto Período**

```
PROGRAMAÇÃO ORIENTADA A OBJETOS II - 60h
SISTEMAS OPERACIONAIS - 60h
PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS - 60h
ENGENHARIA DE SOFTWARE II - 60h
```

#### PROGRAMAÇÃO ORIENTADA A OBJETOS II

In [48]:
poo_2 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037015) |
                                               (df_dados_filtrado['id_componente'] == 62758)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
poo_2 = poo_2[['discente', 'media_final', 'descricao', 'ano']]
poo_2.head()

,discente,media_final,descricao,ano
44,005c14d7c07bf7980b60c703f99c5ee7,"6,8",APROVADO POR NOTA,20211
204,014789363f7940922e71e710ee9d22bc,"7,5",APROVADO,20182
321,014f0dec46fe7a9c5836527662e1df10,"5,0",APROVADO POR NOTA,20206
426,026f9509c92f18fdea01c391a9d401a8,"8,9",APROVADO,20182
591,02dad20dec819bcc384cc6fa0b7ecbf9,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20122

#### SISTEMAS OPERACIONAIS

In [49]:
so = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037022) |
                                               (df_dados_filtrado['id_componente'] == 62762)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
so = so[['discente', 'media_final', 'descricao', 'ano']]
so.head()

                             discente media_final          descricao    ano
45   005c14d7c07bf7980b60c703f99c5ee7         7,5           APROVADO  20211
198  014789363f7940922e71e710ee9d22bc         6,6  APROVADO POR NOTA  20206
408  026f9509c92f18fdea01c391a9d401a8         7,0           APROVADO  20172
801  041a644db3db3f4b20175881c2248bb0         7,3           APROVADO  20181
956  057b5f3791c59f7ea9673943a63ee7ea         7,5           APROVADO  20131

#### PROJETO E ADMINISTRAÇÃO DE BANCO DE DADOS

In [50]:
bd_2 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037019) |
                                               (df_dados_filtrado['id_componente'] == 62765)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
bd_2 = bd_2[['discente', 'media_final', 'descricao', 'ano']]
bd_2.head()

,discente,media_final,descricao,ano
24,005c14d7c07bf7980b60c703f99c5ee7,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20221
189,014789363f7940922e71e710ee9d22bc,"5,8",APROVADO POR NOTA,20181
410,026f9509c92f18fdea01c391a9d401a8,"7,3",APROVADO,20181
798,041a644db3db3f4b20175881c2248bb0,"6,2",APROVADO POR NOTA,20181
938,057b5f3791c59f7ea9673943a63ee7ea,"1,5",REPROVADO,20121

#### ENGENHARIA DE SOFTWARE II

In [51]:
engenharia_2 = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62785) |
                                               (df_dados_filtrado['id_componente'] == 2037020)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
engenharia_2 = engenharia_2[['discente', 'media_final', 'descricao', 'ano']]
engenharia_2.head()

                             discente media_final          descricao    ano
208  014789363f7940922e71e710ee9d22bc         7,8           APROVADO  20182
398  026f9509c92f18fdea01c391a9d401a8         6,4  APROVADO POR NOTA  20182
607  02dad20dec819bcc384cc6fa0b7ecbf9         5,6           APROVADO  20131
803  041a644db3db3f4b20175881c2248bb0         7,9           APROVADO  20181
952  057b5f3791c59f7ea9673943a63ee7ea         7,3           APROVADO  20121

### **Sexto Período**



```
REDES DE COMPUTADORES - 60h
GESTÃO DE PROJETO DE SOFTWARE - 60h
EMPREENDENDORISMO EM INFORMÁTICA - 60h
```

#### REDES DE COMPUTADORES

In [52]:
redes = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037027) |
                                               (df_dados_filtrado['id_componente'] == 62763)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
redes = redes[['discente', 'media_final', 'descricao', 'ano']]
redes.head()

                             discente media_final          descricao    ano
26   005c14d7c07bf7980b60c703f99c5ee7         0,3          REPROVADO  20212
196  014789363f7940922e71e710ee9d22bc         6,5  APROVADO POR NOTA  20205
416  026f9509c92f18fdea01c391a9d401a8         7,9           APROVADO  20182
799  041a644db3db3f4b20175881c2248bb0         6,5  APROVADO POR NOTA  20182
965  057b5f3791c59f7ea9673943a63ee7ea         8,2           APROVADO  20131

#### GESTÃO DE PROJETO DE SOFTWARE

In [53]:
gestao = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037026) |
                                               (df_dados_filtrado['id_componente'] == 62786)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
gestao = gestao[['discente', 'media_final', 'descricao', 'ano']]
gestao.head()

                             discente media_final          descricao    ano
209  014789363f7940922e71e710ee9d22bc         7,8           APROVADO  20191
412  026f9509c92f18fdea01c391a9d401a8         7,4           APROVADO  20191
800  041a644db3db3f4b20175881c2248bb0         6,8  APROVADO POR NOTA  20182
939  057b5f3791c59f7ea9673943a63ee7ea         4,2          REPROVADO  20122
971  057b5f3791c59f7ea9673943a63ee7ea         8,6           APROVADO  20132

#### EMPREENDENDORISMO EM INFORMÁTICA

In [54]:
emp_informatica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037052) |
                                               (df_dados_filtrado['id_componente'] == 62713)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
emp_informatica = emp_informatica[['discente', 'media_final', 'descricao', 'ano']]
emp_informatica.head()

                             discente media_final          descricao    ano
215  014789363f7940922e71e710ee9d22bc         8,8           APROVADO  20182
424  026f9509c92f18fdea01c391a9d401a8         8,5           APROVADO  20182
611  02dad20dec819bcc384cc6fa0b7ecbf9         7,0           APROVADO  20121
690  0347e118dc1347900f6bf3cdbb213dbd         6,3  APROVADO POR NOTA  20162
755  03e175180669d96268067a52a9970615         8,7           APROVADO  20182

#### CONTABILIDADE E CUSTOS

In [55]:
contabilidade = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 62787) |
                                               (df_dados_filtrado['id_componente'] == 48333)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
contabilidade = contabilidade[['discente', 'media_final', 'descricao', 'ano']]
contabilidade.head()

,discente,media_final,descricao,ano
43,005c14d7c07bf7980b60c703f99c5ee7,"6,5",APROVADO POR NOTA,20202
194,014789363f7940922e71e710ee9d22bc,"6,4",APROVADO POR NOTA,20182
383,026f9509c92f18fdea01c391a9d401a8,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20202
409,026f9509c92f18fdea01c391a9d401a8,"7,2",APROVADO,20211
535,029458a349548473ecd50f3ed942ddf7,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20202

### **Sétimo Período**

```
PROGRAMAÇÃO VISUAL
```

#### PROGRAMAÇÃO VISUAL

In [56]:
prog_visual = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 48334) |
                                               (df_dados_filtrado['id_componente'] == 62764)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
prog_visual = prog_visual[['discente', 'media_final', 'descricao', 'ano']]
prog_visual.head()

,discente,media_final,descricao,ano
197,014789363f7940922e71e710ee9d22bc,"6,6",APROVADO POR NOTA,20191
323,014f0dec46fe7a9c5836527662e1df10,"5,1",CANCELADO,20202
411,026f9509c92f18fdea01c391a9d401a8,"7,3",APROVADO,20191
548,029458a349548473ecd50f3ed942ddf7,"7,3",APROVADO,20206
795,041a644db3db3f4b20175881c2248bb0,"0,2",REPROVADO POR MÉDIA E POR FALTAS,20191

### **Oitavo Período**



```
ÉTICA - 60h
SISTEMAS DE APOIO À DECISÃO - 60h
```

#### ÉTICA

In [57]:
etica = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 48335) |
                                               (df_dados_filtrado['id_componente'] == 62714)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
etica = etica[['discente', 'media_final', 'descricao', 'ano']]
etica.head()

,discente,media_final,descricao,ano
59,005c14d7c07bf7980b60c703f99c5ee7,"9,2",APROVADO,20202
203,014789363f7940922e71e710ee9d22bc,"7,5",APROVADO,20171
415,026f9509c92f18fdea01c391a9d401a8,"7,8",APROVADO,20171
537,029458a349548473ecd50f3ed942ddf7,"0,0",REPROVADO POR MÉDIA E POR FALTAS,20211
596,02dad20dec819bcc384cc6fa0b7ecbf9,"10,0",APROVADO,20121

#### SISTEMAS DE APOIO À DECISÃO

In [58]:
sad = df_dados_filtrado.loc[(df_dados_filtrado['id_componente'] == 2037053) |
                                               (df_dados_filtrado['id_componente'] == 62766)&
                                             (df_dados_filtrado['ano'] < 20222)]
#Separando atributos
sad = sad[['discente', 'media_final', 'descricao', 'ano']]
sad.head()

,discente,media_final,descricao,ano
220,014789363f7940922e71e710ee9d22bc,"9,6",APROVADO,20191
404,026f9509c92f18fdea01c391a9d401a8,"6,7",APROVADO POR NOTA,20191
538,029458a349548473ecd50f3ed942ddf7,"0,5",REPROVADO POR MÉDIA E POR FALTAS,20202
543,029458a349548473ecd50f3ed942ddf7,"5,1",APROVADO POR NOTA,20221
544,029458a349548473ecd50f3ed942ddf7,"5,6",EXCLUIDA,20205